@import url(behaviors-8f389ba0b0ad6af7801f6fb174d40991.css);
@import url(dark-52b02edb7f9eca7716bda405c2c2db81.css);
@import url(dark_colorblind-134d960fca2964fa58bba2ccf5d95448.css);
@import url(dark_dimmed-932bbbdd85ad53c16ed9eee9f87bf4f7.css);
@import url(dark_high_contrast-8d948a17b1b1f13fc016d84ed0252459.css);
@import url(frameworks-aa743f17c2cb62840c193854c0405294.css);
@import url(github-66a3b39a7d56e010b2135e497ea4ce23.css);
@import url(home-a38785a7f0c6cbf783a92c9c55269eda.css);
@import url(light-764b98156fab6bcc984addf8d9ee6924.css);
@import url(light_colorblind-5567413c7663dd6083c1a3b43765bcca.css);
@import url(light_high_contrast-770f0bac140cbe8f470dde65a36504a7.css);
@import url(site-9dda9acb3c59ad159045a83d870cf295.css);
@import url(tab-size-fix-948e3a1f6e7ae2d1245d3cabac7f87c2.css);
@import url(site-9dda9acb3c59ad159045a83d870cf295-2.css);

@media screen and (max-width: 640px) {
    .large-only {
        display:none!important;
        /*clear:both;*/
    }
}

#container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/*.profile-education-icon {*/
/*    border: 1px solid #ececec;*/
/*    position: absolute;*/
/*    width: 90px;*/
/*    height: 90px;*/
/*    line-height: 90px;*/
/*    font-size: 42px;*/
/*    border-radius: 50px;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    margin: 0 auto;*/
/*    background-color: #ffffff;*/
/*    color: #ff4f6c;*/
/*    -webkit-transition: all 0.5s;*/
/*    transition: all 0.5s;*/
/*}*/
/*.text-muted {*/
/*    color: #6c757d !important;*/
/*}*/
/*.text-center {*/
/*    text-align: center !important;*/
/*}*/
/*.mb-5, .my-5 {*/
/*    margin-bottom: 3rem !important;*/
/*}*/
/*.mt-5, .my-5 {*/
/*    margin-top: 3rem !important;*/
/*}*/
/*.text-muted {*/
/*    --bs-text-opacity: 1;*/
/*    color: #6c757d !important;*/
/*}*/
/*.text-center {*/
/*    text-align: center !important;*/
/*}*/
/*.mb-5 {*/
/*    margin-bottom: 3rem !important;*/
/*}*/
/*.mt-5 {*/
/*    margin-top: 3rem !important;*/
/*}*/
/*.job-detail {*/
/*    border: 1px solid #ececec;*/
/*    border-radius: 6px;*/
/*}*/
/*.candidates-profile-education {*/
/*    padding: 64px 24px 24px;*/
/*}*/
/**, ::after, ::before {*/
/*    box-sizing: border-box;*/
/*}*/
/**, ::after, ::before {*/
/*    box-sizing: border-box;*/
/*}*/
/*.row {*/
/*    --bs-gutter-x: 1.5rem;*/
/*    --bs-gutter-y: 0;*/
/*}*/
/*.profile-education-icon {*/
/*    line-height: 90px;*/
/*    font-size: 42px;*/
/*    color: #ff4f6c;*/
/*}*/
/*.row {*/
/*     --bs-gutter-x: 1.5rem;*/
/*     --bs-gutter-y: 0;*/
/* }*/


    h1 {
        font-family: "Verdana", sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
        font-size: 48px;
    }
    p {
        font-family: "Verdana", sans-serif;
        letter-spacing: 1px;
        font-size: 14pX;
        color: #333333;
    }
.header {
    position: relative;
    text-align: center;
    background: Linear-gradient(60deg, #543ab7 0%, #9970fd 100%);
    color: white;
}
.Logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle
}


.inner-header {
    height: 25vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
.Flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves {
    /*position: relative;*/
    width:100%;
    height: 20vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}
.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}


/* Animation */
.parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
animation-delay:-2s;
animation-duration:7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay:-4s;
    animation-duration:13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever{
    0% {
    transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
    height:40px;
    min-height:40px;
    }
    .content {
    height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}


.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    /*border: 0 solid rgba(0,0,0,.125);*/
    border-radius: 1rem;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #ecf2f5;
    border: 1px solid #dee2e6;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}
.avatar-lg {
    height: 150px;
    width: 150px;
}
.top-container{
    margin-top: 10% !important;
}
.text-neutre-light-mktg{
    color: #adbac7 ;
}